NEXT_PUBLIC_API_BASE_URL=http://localhost:4050/api/v1
NEXT_PUBLIC_WS_URL=http://localhost:4050
NEXT_PUBLIC_WS_PATH=/socket.io
NEXT_PUBLIC_APP_NAME=Sri Lanka Railway Booking
NEXT_PUBLIC_DEFAULT_CURRENCY=LKR
